## K-Mean Clustring

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
#import utils
import pandas as pd
import numpy as np
from itertools import cycle, islice
import matplotlib.pyplot as plt
#from pandas.tools.plotting import parallel_coordinates

%matplotlib inline

In [5]:
!ls

Cluster Analysis.ipynb

In [6]:
data = pd.read_csv('../Datasets/minute_weather.csv', sep=',')
print(data.shape)
data.head()

(1587257, 13)

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
0,0,2011-09-10 00:00:49,912.3,64.76,97.0,1.2,106.0,1.6,85.0,1.0,NaN,NaN,60.5
1,1,2011-09-10 00:01:49,912.3,63.86,161.0,0.8,215.0,1.5,43.0,0.2,0.0,0.0,39.9
2,2,2011-09-10 00:02:49,912.3,64.22,77.0,0.7,143.0,1.2,324.0,0.3,0.0,0.0,43.0
3,3,2011-09-10 00:03:49,912.3,64.40,89.0,1.2,112.0,1.6,12.0,0.7,0.0,0.0,49.5
4,4,2011-09-10 00:04:49,912.3,64.40,185.0,0.4,260.0,1.0,100.0,0.1,0.0,0.0,58.8

In [7]:
data[data.isnull().any(axis=1)].shape

(434, 13)

In [8]:
cleaned_data = data.dropna()
print(cleaned_data.shape)

cleaned_data.head()

(1586823, 13)

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
1,1,2011-09-10 00:01:49,912.3,63.86,161.0,0.8,215.0,1.5,43.0,0.2,0.0,0.0,39.9
2,2,2011-09-10 00:02:49,912.3,64.22,77.0,0.7,143.0,1.2,324.0,0.3,0.0,0.0,43.0
3,3,2011-09-10 00:03:49,912.3,64.40,89.0,1.2,112.0,1.6,12.0,0.7,0.0,0.0,49.5
4,4,2011-09-10 00:04:49,912.3,64.40,185.0,0.4,260.0,1.0,100.0,0.1,0.0,0.0,58.8
5,5,2011-09-10 00:05:49,912.3,63.50,76.0,2.5,92.0,3.0,61.0,2.0,0.0,0.0,62.6

In [9]:
cleaned_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
rowID,1586823.0,793614.029185,458204.542564,1.00,396794.5,793643.00,1190380.50,1587256.00
air_pressure,1586823.0,916.830248,3.051509,905.00,914.8,916.70,918.70,929.50
air_temp,1586823.0,61.855267,11.832718,31.64,52.7,62.24,70.88,99.50
avg_wind_direction,1586823.0,161.965420,95.208136,0.00,62.0,182.00,217.00,359.00
avg_wind_speed,1586823.0,2.774273,2.060758,0.00,1.3,2.20,3.80,32.30
max_wind_direction,1586823.0,163.403084,92.367252,0.00,68.0,187.00,223.00,359.00
max_wind_speed,1586823.0,3.399815,2.423168,0.10,1.6,2.70,4.60,36.00
min_wind_direction,1586823.0,166.826422,97.462755,0.00,77.0,180.00,212.00,359.00
min_wind_speed,1586823.0,2.133131,1.745345,0.00,0.8,1.60,3.00,32.00
rain_accumulation,1586823.0,0.001855,0.961103,0.00,0.0,0.00,0.00,655.01
rain_duration,1586823.0,0.536059,81.158663,0.00,0.0,0.00,0.00,63305.00
relative_humidity,1586823.0,47.596619,26.208370,0.70,24.7,44.70,68.00,93.00

In [10]:
cleaned_data[cleaned_data['rain_accumulation'] == 0].shape

(1577452, 13)

In [11]:
cleaned_data[cleaned_data['rain_duration'] == 0].shape

(1571710, 13)

In [12]:
#del cleaned_data['rain_duration']
del cleaned_data['rain_accumulation']
cleaned_data.head()

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_duration,relative_humidity
1,1,2011-09-10 00:01:49,912.3,63.86,161.0,0.8,215.0,1.5,43.0,0.2,0.0,39.9
2,2,2011-09-10 00:02:49,912.3,64.22,77.0,0.7,143.0,1.2,324.0,0.3,0.0,43.0
3,3,2011-09-10 00:03:49,912.3,64.40,89.0,1.2,112.0,1.6,12.0,0.7,0.0,49.5
4,4,2011-09-10 00:04:49,912.3,64.40,185.0,0.4,260.0,1.0,100.0,0.1,0.0,58.8
5,5,2011-09-10 00:05:49,912.3,63.50,76.0,2.5,92.0,3.0,61.0,2.0,0.0,62.6

In [13]:
cleaned_data.columns

Index(['rowID', 'hpwren_timestamp', 'air_pressure', 'air_temp',
       'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'min_wind_direction', 'min_wind_speed',
       'rain_duration', 'relative_humidity'],
      dtype='object')

In [14]:
features = ['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'relative_humidity']

In [15]:
selected_data = cleaned_data[features]
selected_data.head()

,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,relative_humidity
1,912.3,63.86,161.0,0.8,215.0,1.5,39.9
2,912.3,64.22,77.0,0.7,143.0,1.2,43.0
3,912.3,64.40,89.0,1.2,112.0,1.6,49.5
4,912.3,64.40,185.0,0.4,260.0,1.0,58.8
5,912.3,63.50,76.0,2.5,92.0,3.0,62.6

## Scaling Value

In [16]:
x = StandardScaler().fit_transform(selected_data)
print(type(x))
print(x)
x.shape == selected_data.shape

<class 'numpy.ndarray'>
[[-1.4845933   0.16942291 -0.01014011 ...  0.55860634 -0.78402129
  -0.29367037]
 [-1.4845933   0.19984704 -0.89241793 ... -0.22089095 -0.90782621
  -0.1753875 ]
 [-1.4845933   0.2150591  -0.76637824 ... -0.55650784 -0.74275299
   0.07262495]
 ...
 [-0.30484867  1.0821467  -1.54362298 ... -1.31435243 -0.45387484
  -0.04947349]
 [-0.30484867  1.0821467  -1.61714614 ... -1.50922675 -0.49514314
  -0.05328907]
 [-0.30484867  1.0821467  -1.57513291 ... -1.54170581 -0.49514314
  -0.04947349]]

True

In [17]:
x[0]

array([-1.4845933 ,  0.16942291, -0.01014011, -0.95803273,  0.55860634,
       -0.78402129, -0.29367037])

### K-Mean Clustring Algorithm

In [18]:
kmeans = KMeans(n_clusters=12)
model = kmeans.fit(x)

In [19]:
print(type(kmeans), "\n", type(model))
print("Model : ", model)

<class 'sklearn.cluster.k_means_.KMeans'>
 <class 'sklearn.cluster.k_means_.KMeans'>
Model :  KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=12, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [20]:
centers = model.cluster_centers_
print(centers.shape)
centers

(12, 7)

array([[ 0.23429001, -0.99548339,  0.65629618, -0.54136854,  0.84456959,
        -0.52500418,  1.16706138],
       [-0.67672187,  0.57129408,  0.18256122, -0.59329578,  0.35168419,
        -0.60573343, -0.13989152],
       [-0.2189821 ,  0.62748418,  0.40950822,  0.73773934,  0.51504812,
         0.67493913, -0.14565865],
       [ 0.75852086,  0.4039114 ,  0.29780568, -0.51820901,  0.4835079 ,
        -0.52473311, -0.76611748],
       [ 1.19000616, -0.25217273, -1.15612128,  2.1089907 , -1.05529972,
         2.23026667, -1.13423313],
       [ 0.05075393, -0.78485974, -1.18952239, -0.57500065, -1.03478562,
        -0.58972474,  0.88480479],
       [ 1.36420346, -0.08347504, -1.20596175, -0.06374249, -1.0748176 ,
        -0.0437066 , -0.9734733 ],
       [-0.16344132,  0.86125869, -1.30969384, -0.58723944, -1.16687089,
        -0.60261281, -0.63903683],
       [ 0.24138361,  0.32073209,  1.88879442, -0.65151111, -1.55079913,
        -0.57500509, -0.30064873],
       [-0.85229705, -1.20225891,  0.38160647,  0.37599717,  0.47414558,
         0.36412459,  1.36425368],
       [ 0.12267264,  0.85537067,  1.41243743, -0.63306765,  1.67564595,
        -0.58491166, -0.71446778],
       [-1.17821412, -0.85905059,  0.44932577,  1.99063869,  0.53936823,
         1.94941089,  0.8998011 ]])

## Plots

In [21]:
def pd_centres(featureUsed, centers):
    colName = list(featuresUsed)
    colname.append()